/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, button {
  display: block; }

body {
  line-height: 1.25em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background-color: transparent; }

.container {
  max-width: 980px;
  margin: 0 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

@media screen and (min-width: 1041px) {
  .container {
    max-width: 980px;
    margin: auto; } }

a {
  text-decoration: none;
  color: #000000; }

a:hover {
  color: gray; }

main {
  display: block; }

@media screen and (min-width: 851px) {
  main {
    padding-top: 10px;
    min-height: 81vh; } }

main a {
  color: #ff003b; }

main > .container {
  margin: 0 22px; }

@media screen and (min-width: 1041px) {
  main > .container {
    max-width: 980px;
    margin: auto; } }

img, svg {
  width: 100%; }

body {
  font-size: 18px;
  line-height: 1.25em;
  font-family: 'ltc-bodoni-175', serif; }

nav h1 {
  font-size: 2.5em;
  font-family: 'ltc-bodoni-175', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center; }

@media screen and (max-width: 850px) {
  nav h1 {
    line-height: 1em; } }

main h1 {
  font-size: 1.75em;
  font-family: 'ltc-bodoni-175', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1.5em auto 1em;
  text-align: center; }

@media screen and (min-width: 851px) {
  main h1 {
    margin: 3em auto 3em; } }

h2 {
  font-family: 'proxima-nova', 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 400; }

h3 {
  font-family: 'ltc-bodoni-175', serif;
  font-size: 1.1em;
  text-transform: uppercase; }

main {
  line-height: 1.5em;
  font-family: 'proxima-nova', 'Open Sans', sans-serif;
  font-weight: 300; }

input {
  font-family: 'proxima-nova', 'Open Sans', sans-serif; }

nav .menu {
  font-size: 0.93em;
  font-family: 'ltc-bodoni-175', serif;
  text-transform: uppercase; }

footer .credit {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400; }

.ital {
  font-style: italic; }

.drop-cap {
  font-size: 5.5em;
  float: left;
  line-height: 50px;
  margin-top: 12px;
  margin-right: 4px; }

.sm-caps {
  font-size: 0.75em; }

nav {
  padding: 1.5em 0 0 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5), 0 -5px 3px -10px #fff; }

nav h1 a, nav .menu a {
  color: #000000; }

@media screen and (min-width: 851px) {
  nav {
    position: fixed;
    padding: 1.85em 0;
    z-index: 1000;
    background-color: transparent;
    box-shadow: none; } }

nav .container {
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (min-width: 851px) {
  nav .container {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; } }

nav .menu, nav .name {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

@media screen and (max-width: 850px) {
  nav .menu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  nav .name {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 21px; } }

nav .menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -webkit-flex: row nowrap;
      -ms-flex: row nowrap;
          flex: row nowrap; }

nav .menu ul li {
  margin-bottom: 0.5em; }

@media screen and (max-width: 850px) {
  nav .menu ul li {
    margin-right: 1em; }
  nav .menu ul li:last-of-type {
    margin-right: 0px; } }

@media screen and (min-width: 851px) {
  nav .menu ul li {
    padding-left: 2em;
    margin-bottom: 0; }
  nav .menu ul li:last-of-type {
    margin-left: 0px; } }

div.marquee-container {
  min-height: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

@media screen and (min-width: 851px) {
  div.marquee-container {
    min-height: 550px; } }

footer {
  background-color: #F0B430;
  color: #000000;
  margin-top: 2em;
  padding: 0.5em 0; }

footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

footer .container .social {
  font-size: 1.25em; }

@media screen and (min-width: 851px) {
  footer .container .social {
    font-size: 1em; } }

footer .container .social a {
  text-decoration: none;
  color: #000000; }

footer .container .social a:hover {
  color: gray; }

footer .container .social > * {
  margin-left: 0.5em; }

@media screen and (min-width: 851px) {
  nav.home-page-nav {
    background-color: transparent;
    box-shadow: none; } }

div.marquee-container.home-page-marquee {
  background-image: url('../images/matt_aubin083-1.jpg'); }

main.home-page .container.logos {
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 851px) {
  main.home-page .container.logos {
    max-width: 700px; } }

main.home-page .container.logos > div {
  margin-bottom: 2em; }

@media screen and (min-width: 851px) {
  main.home-page .container.logos .fbd-logo {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4; } }

main.home-page .container.logos .tcs-logo-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  width: 80%; }

@media screen and (min-width: 851px) {
  main.home-page .container.logos .tcs-logo-container {
    margin: 0 auto; } }

@media screen and (min-width: 851px) {
  main.home-page .container.logos .mitj {
    width: 50%;
    margin: auto; } }

nav.video-nav {
  color: #FFFFFF; }

@media screen and (min-width: 851px) {
  nav.video-nav h1 a, nav.video-nav .menu a {
    color: inherit; } }

div.marquee-container.video-page-marquee {
  background-image: url('../images/3010-1.jpg'); }

main.video-page .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

@media screen and (min-width: 851px) {
  main.video-page .container {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; } }

main.video-page .container .col-1, main.video-page .container .col-2 {
  margin-bottom: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%; }

@media screen and (min-width: 851px) {
  main.video-page .container .col-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 4em; } }

@media screen and (min-width: 851px) {
  main.video-page .container .col-2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; } }

main.video-page .container .col-2 h2 {
  text-align: center; }

.work-container {
  margin-bottom: 2em; }

.work-container .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.work-container .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

nav.performances-nav {
  color: #FFFFFF; }

@media screen and (min-width: 851px) {
  nav.performances-nav h1 a, nav.performances-nav .menu a {
    color: inherit; } }

div.marquee-container.performances-page-marquee {
  background-image: url('../images/matt_aubin124-1.jpg'); }

main.performances-page .container, .container.narrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  max-width: 550px;
  margin: auto; }

@media screen and (min-width: 851px) {
  main.performances-page .container, .container.narrow {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    max-width: 980px;
    margin: none; } }

main.performances-page .container .col-1, main.performances-page .container .col-2, .container.narrow .col-1, .container.narrow .col-2 {
  margin-bottom: 1em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%; }

@media screen and (min-width: 851px) {
  main.performances-page .container .col-1, .container.narrow .col-1 {
    text-align: right;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 4em; } }

@media screen and (min-width: 851px) {
  main.performances-page .container .col-2, .container.narrow .col-2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; } }

main.performances-page .container .little-block, .container.narrow .little-block {
  content: " ";
  width: 30px;
  height: 10px;
  background-color: #F0B430;
  display: block;
  margin: 0 auto 22px auto; }

.container.alternate .col-1, .container.alternate .col-2 {
  padding: 20px;
  border: solid 4px #F0B430;
  box-shadow: 0 0 0 4px; }

@media screen and (min-width: 851px) {
  .container.alternate .col-1, .container.alternate .col-2 {
    position: relative; } }

.container.alternate .col-1 > *, .container.alternate .col-2 > * {
  text-align: center; }

.container.alternate .col-1:after, .container.alternate .col-2:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border-bottom: solid 10px #F0B430;
  border-right: solid 10px #F0B430;
  border-left: solid 10px transparent;
  border-top: solid 10px transparent;
  bottom: 0px;
  right: 0px;
  z-index: 9999; }

@media screen and (min-width: 851px) {
  .container.alternate .col-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 4em;
    max-width: 406px; } }

nav.contact-nav {
  color: #FFFFFF; }

@media screen and (min-width: 851px) {
  nav.contact-nav h1 a, nav.contact-nav .menu a {
    color: inherit; } }

div.marquee-container.contact-page-marquee {
  background-image: url('../images/2978-1.jpg'); }

main.contact-page .container.narrow {
  max-width: 600px;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto; }

main.contact-page form {
  width: 100%; }

main.contact-page form > * {
  display: block;
  width: 100%; }

main.contact-page form input {
  margin-bottom: 2em;
  -webkit-appearance: none;
  -moz-appearance: none; }

main.contact-page form textarea {
  margin: 0 0 2em 0;
  height: 150px; }

main.contact-page form input[type=text], main.contact-page form input[type=email], main.contact-page form textarea {
  padding: 0.5em 1em; }

main.contact-page form input[type=submit] {
  margin: 0 auto;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  width: 150px;
  background-color: #F0B430;
  font-weight: bold; }

main.contact-page form input[type=submit]:hover {
  cursor: pointer; }

main.contact-page #success, main.contact-page #error {
  text-align: center; }

main.contact-page .site-credit {
  margin: 3em 0 1em;
  font-size: 0.75em; }

nav.about-nav {
  color: #FFFFFF; }

@media screen and (min-width: 851px) {
  nav.about-nav h1 a, nav.about-nav .menu a {
    color: inherit; } }

div.marquee-container.about-page-marquee {
  background-image: url('../images/matt_aubin154-2.jpg'); }

main.about-page .container.narrow {
  max-width: 600px;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  line-height: 1.4em;
  margin: auto; }
