<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 footer-col">
                <h1>Connect</h1>
                <div class="footer-spacer"></div>
                <div class="footer-icon-container">
                    <div class="footer-icon">
                        <a href="contact">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.facebook.com/matthew.aubin.731">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.linkedin.com/in/matthew-aubin-a38b1326">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="footer-icon">
                        <a href="https://www.youtube.com/user/matthewhornblower/">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
