<head>
  <title>Matthew Aubin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Official site of the American conductor and hornist Matthew Welz Aubin, Conductor">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="icon" href="images/baton-favicon.svg" />
  <link rel="mask-icon" href="images/baton-favicon.svg" color="#000000">
  <!-- Sentry -->
  <script src="https://js.sentry-cdn.com/d7f7507cab064e43aecbd2ca0b52c7a5.min.js" crossorigin="anonymous"></script>
  <!-- Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- TypeKit -->
  <script src="https://use.typekit.net/rbx5dwq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <!-- Greenstock libraires for scrollspy -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/easing/EasePack.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
  <script src="/js/ScrollMagic.min.js"></script>
  <script src="/js/plugins/animation.gsap.min.js"></script>
  <!-- <script src="js/plugins/debug.addIndicators.min.js"></script> -->
  <script src="/js/scripts.js"></script>
  <!--<script src="js/carousel.js"></script>-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- GA Tracking -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41938474-7', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Metatags -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Matthew Aubin" />
  <meta property="og:url" content="http://www.matthewaubin.com/" />
  <meta property="og:title" content="Matthew Aubin" />
  <meta property="og:description" content="Matthew Aubin, Conductor" />
  <meta property="og:image" content="http://www.matthewaubin.com/images/matt_aubin083-1.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="http://www.matthewaubin.com/" />
  <meta name="twitter:title" content="Matthew Aubin" />
  <meta name="twitter:description" content="Matthew Aubin, Conductor" />
  <meta name="twitter:image:src" content="http://www.matthewaubin.com/images/matt_aubin083-1.jpg" />
</head>
