<div class="container">
    <div class="row nav-row-container">
        <div class="col-md-6">
            <div class="name">
                <h1><a href="index.html">M<span class="sm-caps">atthew</span> A<span class="sm-caps">ubin</span></a></h1>
            </div>
        </div>
        <div class="col-md-6 menu-container">
            <div class="menu">
               <ul>
                    <li class="bordered-nav-el"><a href="/about.html">About</a></li>
                    <li class="bordered-nav-el"><a href="/schedule.html">Schedule</a></li>
                    <li class="bordered-nav-el"><a href="/video.html">Video</a></li>
                    <li class="bordered-nav-el"><a href="/projects.html">Projects</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="mobile-nav-exit">
            <i class="fa fa-times"></i>
        </div>
    </div>
</div>
