{% assign items = site.performance | sort: 'performance_date' | reverse %}
{% assign i = 0%}
{% assign current_date = site.time | date: "%s" %}
{% assign seconds_in_day = 86400 %}
{% assign seconds_from_epoch = current_date | modulo:seconds_in_day %}
{% assign current_date = current_date | minus:seconds_from_epoch %}
{% for item in items %}
  {% assign perf_date = item.performance_date | date: "%s" %}
  {% assign perf_date = perf_date | to_integer %}
  {% if perf_date < current_date %}
  <div class="row justify-content-center future-perf-container" data-performance-date="{{perf_date}}"> <!-- each container will hold each performance event -->
      <div class="col-8 future-performance">
          <div class="perf-date">
              <div class="perf-day">
                  {{ item.performance_date | date: "%d"}}
              </div>
              <div class="perf-date-container">
                  <div class="perf-month">
                      {{ item.performance_date | date: "%b"}}
                  </div>
                  <div class="perf-year">
                      {{ item.performance_date | date: "%Y"}}
                  </div>
              </div>
          </div>
          <div class="perf-name">
              {{ item.group }} //<span class="perf-loc">&nbsp;{{ item.location }}</span>
          </div>
          <div class="perf-icons">
              {% if item.conductor %}
                  {% include baton.html %}
              {% endif %}
              {% if item.horn %}
                  {% include horn.html %}
              {% endif %}
              {% if item.presentation %}
                  {% include presentation.html %}
              {% endif %}
              {% if item.presentation_alt %}
                  {% include presentation_alt.html %}
              {% endif %}
              {% if item.education %}
                  {% include education.html %}
              {% endif %}
          </div>
          <div class="perf-link">
              <a href="{{ item.group_link }}" class="btn-sm">Details</a>
          </div>
      </div>
  </div> <!-- end of .container -->
    {% assign i = i | plus:1 %}
  {% endif %}
{% endfor %}

