{% assign items = site.performance | sort: 'performance_date' %}
{% assign i = 0%}
{% assign current_date = site.time | date: "%s" %}
{% assign seconds_in_day = 86400 %}
{% assign seconds_from_epoch = current_date | modulo:seconds_in_day %}
{% assign current_date = current_date | minus:seconds_from_epoch %}
{% for item in items %}
  {% assign perf_date = item.performance_date | date: "%s" %}
  {% assign perf_date = perf_date | to_integer %}
  {% if perf_date >= current_date %}
  <div class="container narrow future-performance" data-performance-date="{{perf_date}}"> <!-- each container will hold each performance event -->
      <div class="col-1">
        <div class="performance-info">
          <div class="performance-group">
            {% if item.group_link contains "#" %}
              <h2>{{ item.group }}</h2>
            {% else %}
              <a href="{{ item.group_link }}"><h2>{{ item.group }}</h2></a>
            {% endif %}
          </div>
          <div class="performance-date">
            {{ item.performance_date | date: "%A, %B %-d, %Y"}}
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="performance-program">
          {{ item.content }}
        </div>
      </div>
    </div> <!-- end of .container -->
    {% assign i = i | plus:1 %}
  {% endif %}
{% endfor %}
