nav {
  //position: fixed;
  padding: 1.5em 0 0 0; //this prob needs to be changed to 1.85em
  width: 100%;
  background-color: #ffffff;
  //background-color: $base-color;
  //box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1),0 -5px 3px -10px #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5),0 -5px 3px -10px #fff;

  h1 a, .menu a {
    color: #000000;
  }

  @include respond-to(medium-plus) {
    position: fixed;
    padding: 1.85em 0;
    // background-color: #ffffff;
    z-index: 1000;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
  }

  .container {
    flex-flow: column nowrap;
    align-items: center;

    @include respond-to(medium-plus) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .menu, .name  {
    //width: 100%;
    flex: none;
  }

  @include respond-to(small) {
    .menu {
      order: 2;
    }

    .name {
      order: 1;
      margin-bottom: 21px;
    }
  }

  @include respond-to(medium-plus) {
    .menu {
      //flex: 2;
    }
    .name {
      //flex: 1;
    }
  }

  .menu ul {
    display: flex;
    flex: row nowrap;

    // @include respond-to(medium-plus) {
    //   display: flex;
    //   flex: row nowrap;
    // }

    li {
      margin-bottom: 0.5em;
      @include respond-to(small) {
        margin-right: 1em;

        &:last-of-type {
          margin-right: 0px;
        }
      }

      @include respond-to(medium-plus) {
        padding-left: 2em;
        margin-bottom: 0;

        &:last-of-type {
          margin-left: 0px;
        }
      }
    }
  }

}

div.marquee-container {
  min-height: 450px;
  @include respond-to(medium-plus) {
    min-height: 550px;
  }
  display: flex;
  flex-flow: row nowrap;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

main .container {
  //padding-bottom: 2em;
  // @include respond-to(medium-plus) {
  //   max-width: 980px;
  //   padding-bottom: 2em;
  // }
}



footer {
  //background-color: #080808;
  background-color: $secondary-color;
  //color: #ffffff;
  color: #000000;
  margin-top: 2em;
  padding: 0.5em 0;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .credit {

    }

    .social {
      font-size: 1.25em;

      @include respond-to(medium-plus) {
        font-size: 1em;
      }

      a {
        text-decoration: none;
        color: #000000;

        &:hover {
          color: lighten(#000000, 50%);
        }
      }
      > * {
        margin-left: 0.5em;
      }
    }
  }
}



///////// About Page /////////
// .col-1, .col-2 {
//   margin-bottom: 1em;

//   @include respond-to(medium-plus) {
//     flex: 1;
//   }
// }

// .col-1 {

//   @include respond-to(medium-plus) {
//     margin-right: 2em;
//   }
// }


// main.about-page {
//   .col-1 {
//     align-self: center;
//   }
// }


