div.marquee-container.about-page-marquee {
  background-image: url('../images/matt_aubin154-2.jpg');
}

main.about-page {
  .container.narrow {
    max-width: 600px;
    flex-flow: column nowrap;

    p {
        margin-bottom: 1em;
    }
  }
}
