a {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: lighten(#000000, 50%);
  }
}

em {
  font-style: italic;
}

main {
  display: block;
  @include respond-to(medium-plus) {
    padding-top: 10px;
    min-height: 81vh;
  }

  a {
    color: $link-color;
  }
}

img, svg {
  width: 100%;
}
