nav.home-page-nav {
  @include respond-to(medium-plus) {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
  }
}

div.marquee-container.home-page-marquee {
  background-image: url('../images/matt_aubin083-1.jpg');
}

$hp-about-height: 600px;
.hp-about {
    height: $hp-about-height;
    background-color: rgb(231, 231, 231);
    @include respond-to(medium-plus) {
        background-image: url('../images/matt_aubin061_web.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .hp-about-content-container {
        display: flex;
        flex-flow: column nowrap;
        height: $hp-about-height;
        justify-content: center;

        .hp-about-tag {
            position: relative;
            width: min-content;
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
            line-height: 1em;
            z-index: 900;
        }
        .hp-about-tag-ampersand {
            position: relative;
            font-size: 8.5rem;
            @include respond-to(medium-plus) {
                font-size: 12rem;
            }
            left: 16rem;
            top: -4rem;
            width: fit-content;
            color: rgb(197, 197, 197);
        }

        .hp-about-copy-container {
            margin-bottom: 2em;
            text-align: center;
            font-family: $sans;
            font-weight: 100;
            line-height: 1.5em;
            color: rgba(0, 0, 0, 0.5);
        }
        .hp-copy-shape-left {
            display: none;
            float: left;
            shape-outside: polygon(30px -6px, -35px 70px, 85.12% 97.63%, 1px 85px, 1.66% 37.94%); 
            height: 150px;
            width: 50px;
            @include respond-to(medium-plus) {
                display: block;
            }
        }
        .hp-copy-shape-right {
            display: none;
            float: right;
            shape-outside: polygon(22px 5px, 82px 72px, -2.88% 102.66%, 49px 92px, 92.99% 26.08%); 
            height: 150px;
            width: 50px;
            @include respond-to(medium-plus) {
                display: block;
            }
        }

        .hp-about-cta {
            margin: 0 auto;
        }
    }
}

.hp-events {
    margin-bottom: 2em;
}

.hp-future-performance {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1em;
    @include dottedBottomCircleBorder($spacing: 7px, $radius: 1px);
    margin-bottom: 1em;

    @include respond-to(medium-plus) {
        flex-flow: row nowrap;
        align-items: normal;
        @include dottedBottomCircleBorder($spacing: 15px, $radius: 1px);
    }

    $perf-mobile-spacing: 0.7em;

    .hp-perf-date {
        display: flex;
        flex-flow: row nowrap;
        padding-right: 1em;
        border-right: solid 5px $md-grey;
        margin-bottom: $perf-mobile-spacing;
        @include respond-to(medium-plus) {
            margin-bottom: 0;
        }

        .hp-perf-day {
            font-family: $sans;
            font-weight: 600;
            font-size: 5rem;
            line-height: 0.7em;
            color: $lt-grey;
            width: 1.5em;
            text-align: right;
            margin-right: 10px;
            @include respond-to(medium-plus) {
                font-size: 2.75rem;
                line-height: 1em;
                margin-right: 0;
            }
        }

        .hp-perf-date-container {
            display: flex;
            flex-flow: column nowrap;
            font-family: $sans;
            font-weight: 600;
            font-size: 1.75rem;
            line-height: 1em;
            text-transform: uppercase;
            color: $dk-grey;
            @include respond-to(medium-plus) {
                font-size: 1rem;
                .hp-perf-month {
                    margin-top: 0.3rem;
                }
            }
        }
    }    
    .hp-perf-name {
        color: $md-grey;
        font-family: $sans;
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: $perf-mobile-spacing;
        text-align: center;

        @include respond-to(medium-plus) {
            padding-left: 1em;
            font-size: 1.25rem;
            margin-bottom: 0;
            text-align: left;
            align-self: center;
        }
    }
    .hp-perf-loc {
        white-space: nowrap;
    }
    .hp-perf-icons {
        margin-bottom: $perf-mobile-spacing;
        @include respond-to(medium-plus) {
            margin-left: auto;
            align-self: center;
            margin-bottom: 0;
            display: flex;
            flex-flow: row nowrap;
        }
    }
    .hp-perf-link {
        margin-bottom: $perf-mobile-spacing;
        @include respond-to(medium-plus) {
            margin-left: 1em;
            margin-right: 2em;
            margin-bottom: 0;
            align-self: center;
        }
    }
}

.hp-concerts-cta {
    margin: 0 auto;
}

.hp-video {
    background-color: rgb(51, 51, 51);
    color: #FFFFFF;
    padding-top: 2em;

    @include respond-to(medium-plus) {
        padding-top: 4em;
    }

    h1 {
       margin: 0;
       position: absolute;
       top: -1rem;
       z-index: 100;
       width: calc(100% - 2rem);

       @include respond-to(medium-plus) {
           width: unset;
           text-align: unset; 
           margin-left: 3rem;
       }
    }

    .hp-video-item {
        background-color: rgb(61, 61, 61);
        padding: 1rem 1rem;
        padding-top: 2rem;
        @include respond-to(medium-plus) {
            padding: 3rem 4rem;
        }

        .hp-video-spcr {
            margin: 0 auto 2em auto;
            display: block;
            border-top: solid #FFFFFF 5px;
            width: 8em;
            @include respond-to(medium-plus) {
                margin: 0;
                margin-bottom: 2em;
                width: 6em;
            }
        }
         h2, p {
             margin-bottom: 1em;
             text-align: center;
             @include respond-to(medium-plus) {
                 text-align: left;
             }
         }
         p {
             font-family: $sans;
         }
    }

    .hp-video-cta {
        margin: 2rem 0;
    }
}

.carousel-control-prev-icon {
    display: none;

    @include respond-to(medium-plus) {
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-right: 10%;
        margin-left: -11rem;
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }
    .carousel-control-prev-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 43.3px 25px 0;
        border-color: transparent #000000 transparent transparent;
    }
}

.carousel-control-next-icon {
    display: none;

    @include respond-to(medium-plus) {
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        margin-right: -11rem;
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }
    .carousel-control-next-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 43.3px;
        border-color: transparent transparent transparent #000000;
    }
}

.projects-row {
    margin-bottom: 2.5em;
}
