nav.home-page-nav {
  @include respond-to(medium-plus) {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
  }
}

div.marquee-container.home-page-marquee {
    background-image: url('../images/matt_aubin083_MainPhoto.jpg');
    background-position: 85% 0%;
    color: #FFFFFF;
    @include respond-to(medium-plus) {
        background-position: 0% 0%;
    }
}

$hp-about-height: 600px;
.hp-about {
    height: $hp-about-height;
    background-color: rgb(231, 231, 231);
    @include respond-to(medium-plus) {
        background-image: url('../images/matt_aubin083_SecondPhoto.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .hp-about-content-container {
        display: flex;
        flex-flow: column nowrap;
        height: $hp-about-height;
        justify-content: center;

        .hp-about-tag {
            position: relative;
            width: min-content;
            text-align: center;
            text-transform: uppercase;
            line-height: 1em;
            z-index: 900;
            font-size: 2.5rem;
            @include respond-to(medium-plus) {
                font-size: 3rem;
            }
        }
        .hp-about-tag-ampersand {
            position: relative;
            font-size: 7.5rem;
            left: 14.25rem;
            top: -3rem;
            @include respond-to(medium-plus) {
                left: 16rem;
                top: -4rem;
                font-size: 12rem;
            }
            width: fit-content;
            color: rgb(197, 197, 197);
        }

        .hp-about-copy-container {
            margin-bottom: 2em;
            text-align: center;
            font-family: $sans;
            font-weight: 100;
            line-height: 1.5em;
            color: rgba(0, 0, 0, 0.5);
        }
        .hp-copy-shape-left {
            display: none;
            float: left;
            shape-outside: polygon(30px -6px, -35px 70px, 85.12% 97.63%, 1px 85px, 1.66% 37.94%); 
            height: 150px;
            width: 50px;
            @include respond-to(medium-plus) {
                display: block;
            }
        }
        .hp-copy-shape-right {
            display: none;
            float: right;
            shape-outside: polygon(22px 5px, 82px 72px, -2.88% 102.66%, 49px 92px, 92.99% 26.08%); 
            height: 150px;
            width: 50px;
            @include respond-to(medium-plus) {
                display: block;
            }
        }

        .hp-about-cta {
            margin: 0 auto;
        }
    }
}

.hp-events {
    margin-bottom: 2em;
}

.hp-concerts-cta {
    margin: 0 auto;
}

.hp-video {
    background-color: rgb(51, 51, 51);
    color: #FFFFFF;
    padding-top: 2em;

    @include respond-to(medium-plus) {
        padding-top: 4em;
    }

    h1 {
       margin: 0;
       position: absolute;
       top: -1rem;
       z-index: 100;
       width: calc(100% - 2rem);

       @include respond-to(medium-plus) {
           width: unset;
           text-align: unset; 
           margin-left: 3rem;
       }
    }


    .hp-video-cta {
        margin: 2rem 0;
    }
}

.carousel-control-prev-icon {
    display: none;

    @include respond-to(medium-plus) {
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-right: 10%;
        margin-left: -11rem;
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }
    .carousel-control-prev-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 43.3px 25px 0;
        border-color: transparent #000000 transparent transparent;
    }
}

.carousel-control-next-icon {
    display: none;

    @include respond-to(medium-plus) {
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        margin-right: -11rem;
        border-radius: 100%;
        width: 120px;
        height: 120px;
    }
    .carousel-control-next-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 43.3px;
        border-color: transparent transparent transparent #000000;
    }
}

.projects-row {
    margin-bottom: 2.5em;
}
