nav {
    .menu ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @include respond-to(medium-plus) {
            display: flex;
            flex: row nowrap;
            justify-content: space-between;
        }

        li {
            margin-bottom: 0.5em;
            @include respond-to(small) {
                margin-right: 1em;

                &:last-of-type {
                    margin-right: 0px;
                }
            }

            @include respond-to(medium-plus) {
                padding-left: 2em;
                margin-bottom: 0;

                &:last-of-type {
                    margin-left: 0px;
                }
            }
        }
    }
}

div.marquee-container {
    min-height: 450px;
    @include respond-to(medium-plus) {
        min-height: 550px;
    }
    display: flex;
    flex-flow: row nowrap;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

footer {
    //background-color: #080808;
    background-color: $secondary-color;
    //color: #ffffff;
    color: #000000;
    margin-top: 2em;
    padding: 0.5em 0;

    .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .social {
            font-size: 1.25em;
            @include respond-to(medium-plus) {
                font-size: 1em;
            }

            a {
                text-decoration: none;
                color: #000000;

                &:hover {
                    color: lighten(#000000, 50%);
                }
            }

            > * {
                margin-left: 0.5em;
            }
        }
    }
}
