.mobile-nav {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 1.5rem;
    z-index: 20000;
    @include respond-to(medium-plus) {
        display: none;
    }
    .mobile-nav-trigger {
        width: 75px;
        .mobile-nav-bar {
            background-color: #FFFFFF;
            height: 2px;
            margin-bottom: 10px;
        }
    }
    &.internal .mobile-nav-bar {
        background-color: #000000;
    }
}
    
nav {
    width: 100%;
    margin-top: -2px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5),0 -5px 3px -10px #fff;
    z-index: 10000;
    position: absolute;
    top: 0;

    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    @include respond-to(medium-plus) {
        position: fixed;
        background-color: #ffffff;
        padding-top: 2em;
        padding-bottom: 2em;

        h1 {
            margin-top: 0;
            margin-bottom: 0;
        }

        &.home-page-nav h1 {
            display: none;
        }
    }

    .mobile-nav-exit {
        position: absolute;
        top: 18;
        right: 18;
        @include respond-to(medium-plus) {
            display: none;
        }
    }
    .nav-row-container {
        display: none;
        background-color: #FFFFFF;
        @include respond-to(medium-plus) {
            display: flex;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .menu-container {
        @include respond-to(medium-plus) {
            display: flex;
            align-items: center;
        }
    }

    .menu ul {
        display: flex;
        flex-flow: column nowrap;
        font-family: $sans;
        font-weight: 600;
        letter-spacing: 2px; 

        @include respond-to(medium-plus) {
            flex-flow: row nowrap;
        }
        
        li {
            margin-bottom: 1rem;
            text-align: center;

            @include respond-to(medium-plus) {
                padding: 0 1em;
                margin-bottom: 0;
                text-align: unset;
                border-right: solid 1px black;

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                    border-right: none;
                }

                a.active {
                    border-bottom: solid black 5px;
                }
            } // end respond-to
        }
    }
}


div.marquee-container {
    min-height: 450px;

    @include respond-to(medium-plus) {
        height: 100vh;
    }

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .marquee-name-container {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        margin-top: 85px;
        text-align: center;
        font-size: 4rem;
        line-height: 1em;

        @include respond-to(medium-plus) {
            margin-top: 0;
            font-size: 5rem;
            justify-content: center;
        }
    }
}

