.future-performance {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1em;
    @include dottedBottomCircleBorder($spacing: 7px, $radius: 1px);
    margin-bottom: 1em;

    @include respond-to(medium-plus) {
        flex-flow: row nowrap;
        align-items: normal;
        @include dottedBottomCircleBorder($spacing: 15px, $radius: 1px);
    }

    $perf-mobile-spacing: 0.7em;

    .perf-date {
        display: flex;
        flex-flow: row nowrap;
        padding-right: 1em;
        border-right: solid 5px $md-grey;
        margin-bottom: $perf-mobile-spacing;
        @include respond-to(medium-plus) {
            margin-bottom: 0;
        }

        .perf-day {
            font-family: $sans;
            font-weight: 600;
            font-size: 5rem;
            line-height: 0.7em;
            color: $lt-grey;
            width: 1.5em;
            text-align: right;
            margin-right: 10px;
            @include respond-to(medium-plus) {
                font-size: 2.75rem;
                line-height: 1em;
                margin-right: 0;
            }
        }

        .perf-date-container {
            display: flex;
            flex-flow: column nowrap;
            font-family: $sans;
            font-weight: 600;
            font-size: 1.75rem;
            line-height: 1em;
            text-transform: uppercase;
            color: $dk-grey;
            @include respond-to(medium-plus) {
                font-size: 1rem;
                .perf-month {
                    margin-top: 0.3rem;
                }
            }
        }
    }    
    .perf-name {
        color: $md-grey;
        font-family: $sans;
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: $perf-mobile-spacing;
        text-align: center;

        @include respond-to(medium-plus) {
            padding-left: 1em;
            font-size: 1.25rem;
            margin-bottom: 0;
            text-align: left;
            align-self: center;
        }
    }
    .perf-loc {
        white-space: nowrap;
    }
    .perf-icons {
        margin-bottom: $perf-mobile-spacing;
        @include respond-to(medium-plus) {
            margin-left: auto;
            align-self: center;
            margin-bottom: 0;
            display: flex;
            flex-flow: row nowrap;
        }
    }
    .perf-link {
        margin-bottom: $perf-mobile-spacing;
        @include respond-to(medium-plus) {
            margin-left: 1em;
            margin-right: 2em;
            margin-bottom: 0;
            align-self: center;
        }
    }
}

