.projects-page {
    h2 {
        //@extend .h3;
        font-size: 1.5em;
        border-bottom: solid black 4px;
        width: fit-content;
    }
    h3 {
        //@extend .h2;
        //font-size: 1.1em;
        margin-bottom: 1em;
    }
    .row {
        margin-bottom: 2.5rem;

        .project-image {
            margin-bottom: 1em;
            @include respond-to(medium-plus) {
                margin-bottom: 0;
            }
        }
    }
}

.project-item-container {
    margin-bottom: 2.5em;
}

.project-image-container {
    padding: 1em 2.5em;
}

.project-item-copy {
    margin-bottom: 1em;
}
