// $display: 'Josefin Sans', 'Open Sans', sans-serif;
$display: 'ltc-bodoni-175', serif;
//$body: 'pt-sans', 'Open Sans', sans-serif;
$body: 'proxima-nova', 'Open Sans', sans-serif;

body {
  font-size: 18px; // 18px
  line-height: 1.25em;
  font-family: $display;
}

nav h1 {
  font-size: 2.5em; //31.5px = 1.75em
  font-family: $display;
  text-transform: uppercase;
  letter-spacing: 3px;
  @include respond-to(small) {
    line-height: 1em;
  }
  text-align: center;
}

main h1 {
  font-size: 1.75em; //31.5px = 1.75em
  font-family: $display;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 1.75em;
  margin-bottom: 0.2em;
  text-align: center;
}

h2 {
  font-family: $body;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 400;
}

h3 {
  font-family: $display;
  font-size: 1.1em;
  text-transform: uppercase;
}

main {
  line-height: 1.5em;
  font-family: $body;
  font-weight: 300;
}

input {
  font-family: $body;
}

nav .menu {
  font-size: 0.93em; //16.8px = 0.93
  font-family: $display;
  text-transform: uppercase;
}

footer .credit {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.ital {
  font-style: italic;
}

.drop-cap {
  font-size: 5.5em;
  float: left;
  line-height: 50px;
  margin-top: 12px;
  margin-right: 4px;
}

.sm-caps {
  font-size: 0.75em;
}
