$display: 'ltc-bodoni-175', serif;
$serif: $display;
$body: 'proxima-nova', 'Open Sans', sans-serif;
$sans: $body;

body {
  font-size: 18px; // 18px
  line-height: 1.25em;
  font-family: $display;
  // font-weight: 300;
  //font-weight: 600;
}

h1 {
  font-size: 1.75em; //31.5px = 1.75em
  font-family: $display;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1.5em auto 1em;
  text-align: center;
  line-height: 1.2em;
  @include respond-to(medium-plus) {
    margin: 2em auto 2em;
  }
}

nav h1 {
  font-size: 2.5em; //31.5px = 1.75em
  font-family: $display;
  text-transform: uppercase;
  letter-spacing: 3px;
  @include respond-to(small) {
    line-height: 1em;
  }
  text-align: center;
  margin: 0;
}


h2, .h2 {
  font-family: $body;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 600;
}

h3, .h3 {
  font-family: $display;
  font-size: 1.1em;
  //font-weight: 700;
  text-transform: uppercase;
}

main {
  //font-size: 18px;
  //font-size: 0.75em;
  //letter-spacing: 0.75px;
  line-height: 1.5em;
  font-family: $body;
  font-weight: 300;
}

input {
  font-family: $body;
}

nav .menu {
  font-size: 0.93em; //16.8px = 0.93
  font-family: $display;
  text-transform: uppercase;
}

footer .credit {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.ital {
  font-style: italic;
}

.drop-cap {
  font-size: 5.5em;
  float: left;
  line-height: 50px;
  margin-top: 12px;
  margin-right: 4px;

  // font-size: 3.25em;
  //     float: left;
  //     line-height: 40px;
  //     margin-top: 4px;
}

.sm-caps {
  font-size: 0.75em;
  text-transform: uppercase;
}

.btn {
    display: block;
    background-color: #000000;
    color: #FFFFFF;
    font-family: $sans;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.8em 3.2em;
    width: fit-content;
    letter-spacing: 2px;
    box-shadow: $std-box-shadow;
    text-align: center;
}

.btn-sm {
    @extend .btn;
    &:hover {
        color: unset;
    }
    box-shadow: unset;
    font-size: 0.8rem;
    line-height: 1em;
    padding: 0.6em 0.8em 0.5em;
    background-color: $md-grey;
    letter-spacing: 0px;
}

.perf-icon {
    height: 1.2em;
    width: 1.2em;

    .field {
        fill: #414042;
    }

    .icon-detail {
        fill: #FFFFFF;
    }
}
