<html>
{% include head.html %}

<body>
  <nav class="about-nav">
    {% include nav.html %}
  </nav>

  <div class="marquee-container about-page-marquee"></div>

  <main class="content about-page" role="main">
    <div class="container">
      <h1>About</h1>
    </div>

    <div class="container narrow"> <!-- each container will hold each performance event -->
      <div class="col">
        {{ content }}
      </div>
    </div> <!-- end of .container -->

  </main>

  {% include footer.html %}
  </body>
</html>
