<html>
{% include head.html %}

<body>
    <div class="mobile-nav internal">
        <div class="">
            <div class="mobile-nav-trigger">
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
            </div>
        </div>
    </div>
  <nav>
    {% include nav.html %}
  </nav>
  <main class="content about-page" role="main">
    <div class="container">
      <h1>About</h1>
    </div>

    <div class="container narrow">
      <div class="col">
        {{ content }}
      </div>
    </div> <!-- end of .container -->

  </main>

  {% include footer.html %}
  </body>
</html>
