<html>
{% include head.html %}

<body>
    <div class="mobile-nav internal">
        <div class="">
            <div class="mobile-nav-trigger">
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
            </div>
        </div>
    </div>
  <nav class="contact-nav">
    {% include nav.html %}
  </nav>
  <main class="content contact-page" role="main">
    <div class="container">
      <h1>Contact</h1>
    </div>

    <div class="container narrow"> <!-- each container will hold each performance event -->
      <form id="contact-form" action="//formspree.io/f/mdopbgpk"
            method="POST">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required placeholder="Name">
          <label for="message">Message</label>
          <textarea type="text" name="message" id="message" required placeholder="Message"></textarea>
          <label for="email">E-Mail Address</label>
          <input type="email" name="_replyto" id="email" required placeholder="E-Mail">
          <input type="hidden" name="_next" value="/#contact-form" />
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" value="Send">
      </form>
      <div id="success">
        <p>Thanks for your note.  I'll be in touch soon.</p>
      </div>
      <div id="error">
        <p>Huh, looks like there was a problem with the form.  Please try again.</p>
      </div>
      <div class="site-credit">
          <p>Website design by <a href="https://kerriconradvisuals.com/" target="_blank">Kerri Conrad Bowditch</a>. Web development by Nick Buonincontri.</p>
      </div>
    </div> <!-- end of .container -->

  </main>

  {% include footer.html %}
  </body>
</html>
