<html>
    {% include head.html %}

    <body>
        <div class="mobile-nav">
            <div class="">
                <div class="mobile-nav-trigger">
                    <div class="mobile-nav-bar"></div>
                    <div class="mobile-nav-bar"></div>
                    <div class="mobile-nav-bar"></div>
                </div>
            </div>
        </div>

        <nav class="home-page-nav">
            {% include nav.html %}
        </nav>

        <div class="marquee-container home-page-marquee">
            <div class="container">
                <div class="row">
                    <div class="col-6 marquee-name-container">
                        <span class="marquee-name">M<span class="sm-caps">atthew</span><br />
                            A<span class="sm-caps">ubin</span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="hp-about">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-6 hp-about-content-container">
                        <div class="hp-about-tag-container">
                            <div class="hp-about-tag">
                                Conductor Musician
                            </div>
                            <div class="hp-about-tag-ampersand">
                                &amp;
                            </div>
                        </div>
                        <div class="hp-about-copy-container">
                            <div class="hp-copy-shape-left"></div>
                            <div class="hp-copy-shape-right"></div>
                            <div class="hp-about-copy">
                                <p>
                                    A passionate advocate for American and
                                    contemporary music, Dr. Matthew Aubin has
                                    conducted and performed internationally from
                                    Carnegie Hall to the Musikverein and many stops
                                    in between. Currently in his second season as
                                    Music Director of the Jackson Symphony
                                    Orchestra, Dr. Aubin also serves as Artistic
                                    Director for The Chelsea Symphony in New York
                                    City.
                                </p>
                            </div>
                        </div>
                        <div class="hp-about-cta">
                            <a class="btn" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hp-events">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Upcoming Events</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                {% include hp_upcoming_events.html %}
                <div class="row">
                    <div class="col-12">
                        <a class="btn hp-concerts-cta" href="#">View More Events</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="hp-video">
            <div class="container">
                <div class="col-md-5">
                    <h1>Video</h1>
                </div>
            </div>
            <div class="container">
                <div id="videoCarouseControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% assign videos = site.video | sort: "weight" %}
                        {% for item in videos %}
                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                            <div class="row hp-video-item">
                                <div class="col-md-5">
                                    <div class="hp-video-spcr"></div>
                                    <h2>{{ item.video_title }}</h2>
                                    {{ item.content }}
                                </div>
                                <div class="col-md-7">
                                    <div class="video-container">
                                        <iframe src="{{ item.video_link }}" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#videoCarouseControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true">
                            <span class="carousel-control-prev-arrow"></span>
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#videoCarouseControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true">
                            <span class="carousel-control-next-arrow"></span>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 hp-video-cta">
                            <a class="btn hp-concerts-cta" href="#">View More Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Projects</h1>
                    </div>
                </div>
                <div class="row projects-row">
                    <div class="col-md-4">
                        <a href="https://chelseasymphony.org">
                            <img src="images/TCSlogo-horizontal.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <img src="images/Mozart-in-the-Jungle-Logo-edit.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <a href="https://fernandedecruck.com">
                            {% include decruck_logo.html %}
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>
