<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" version="XHTML+RDFa 1.0" dir="ltr"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:fb="http://ogp.me/ns/fb#"
  xmlns:article="http://ogp.me/ns/article#"
  xmlns:book="http://ogp.me/ns/book#"
  xmlns:profile="http://ogp.me/ns/profile#"
  xmlns:video="http://ogp.me/ns/video#"
  xmlns:product="http://ogp.me/ns/product#">
<html>
{% include head.html %}

<body>
  <nav class="home-page-nav">
    {% include nav.html %}
  </nav>

  <div class="marquee-container home-page-marquee"></div>

  <main class="content home-page" role="main">
    <div class="container"> 
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet. <a href="#">Learn More &hellip;</a>
      </p>
    </div>
    <div class="container">
      <h1>Schedule</h1>
      <div class="hp-schedule">
          <div class="hp-schedule-item">
              <h2>The Chelsea Symphony</h2>
              <span class="dates">Jan 21, 22</span>
              <p>Music of Dai, Martin, Bach, and Sibelius</p>
          </div>
          <div class="hp-schedule-item">
              <h2>The Chelsea Symphony</h2>
              <span class="dates">Jan 21, 22</span>
              <p>Music of Dai, Martin, Bach, and Sibelius</p>
          </div>
          <div class="hp-schedule-item">
              <h2>The Chelsea-Jackson Symphony</h2>
              <span class="dates">Jan 21, 22</span>
              <p>Music of Dai, Martin, Bach, and Sibelius</p>
          </div>
          <div class="hp-schedule-item">
              <h2>The Chelsea Symphony</h2>
              <span class="dates">Jan 21, 22</span>
              <p>Music of Dai, Martin, Bach, and Sibelius</p>
          </div>
          <div class="hp-schedule-item">
              <h2>The Chelsea Symphony</h2>
              <span class="dates">Jan 21, 22</span>
              <p>Music of Dai, Martin, Bach, and Sibelius</p>
          </div>
          <div class="hp-schedule-item">
              <h2>The Chelsea Symphony</h2>
              <span class="dates">Jan 21, 22</span>
              <p>Music of Dai, Martin, Bach, and Sibelius</p>
          </div>
      </div>
    </div>
    <div class="container"> 
      <h1>Video</h1>
      <div class="hp-video-container">
          <div class="hp-video-item">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/r9RYrpkx0co" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="hp-video-item">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/kzqOJy8fxRE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
    </div>
    <div class="container"> 
      <h1>Projects</h1>
      <div class="hp-project-container">
          <div class="fbd-logo logo">
              <a href="http://fernandedecruck.com" target="_blank">
                  {% include decruck_logo.html %}
              </a>
          </div>
          <div class="tcs-logo-container logo">
              <a href="http://chelseasymphony.org" target="_blank"><img src="images/TCSlogo-horizontal.png" alt=""></a>
          </div>
      </div>
    </div>
  </div> <!-- End of container -->

</main>
{% include footer.html %}
  </body>
</html>
