<div class="container narrow"> <!-- each container will hold each performance event -->
  <div class="col-1">
    <div class="performance-info">
      <div class="performance-group">
        {% if page.group_link contains "#" %}
          <h2>{{ page.group }}</h2>
        {% else %}
          <a href="{{ page.group_link }}"><h2>{{ page.group }}</h2></a>
        {% endif %}
      </div>
      <div class="performance-date">
        {{ page.performance_date | date: "%A, %B %-d, %Y"}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="performance-program">
      {{ content }}
    </div>
  </div>
</div> <!-- end of .container -->
