<div class="container narrow"> <!-- each container will hold each performance event -->
  <div class="col-1">
    <div class="performance-info">
      <div class="performance-group">
        <a href="{{ performance.group_link }}"><h2>{{ performance.group }}</h2></a>
      </div>
      <div class="performance-date">
        {{ performance.performance_date | date: "%A, %B %-d, %Y"}}
      </div>
    </div>
  </div>

  <div class="col-2">
    <div class="performance-program">
      {{ content }}
    </div>
  </div>
</div> <!-- end of .container -->
