<html>
{% include head.html %}
<body>
    <div class="mobile-nav internal">
        <div class="">
            <div class="mobile-nav-trigger">
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
            </div>
        </div>
    </div>
  <nav class="projects-nav">
    {% include nav.html %}
  </nav>
  <main class="projects-page" role="main">
    <div class="container">
      <h1>Projects</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
        {% assign projects = site.pages | where: "layout", "project" | sort: "weight" %}
        {% for project in projects %}
            {% include project_category.html project=project %}
        {% endfor %}
        </div>
    </div>
  </main>
  {% include footer.html %}
  </body>
</html>
