<html>
{% include head.html %}
<body>
    <div class="mobile-nav internal">
        <div class="">
            <div class="mobile-nav-trigger">
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
            </div>
        </div>
    </div>
  <nav class="projects-nav">
    {% include nav.html %}
  </nav>
  <main class="projects-page" role="main">
    <div class="container">
      <h1>Projects</h1>
    </div>
    <div class="container">
        {% for c in site.data.project_catagories %}
            <div class="row">
                <div class="col-12">
                    <h2>{{ c.heading }}</h2>
                </div>
            </div>
            <div class="row">
            {% assign projects = site.project | where: "project_catagory", c.catagory | sort: "project_order" %}
            {% for project in projects %}
                {% include project_item.html project=project %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
  </main>
  {% include footer.html %}
  </body>
</html>
