<html>
{% include head.html %}

<body>
    <div class="mobile-nav internal">
        <div class="">
            <div class="mobile-nav-trigger">
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
            </div>
        </div>
    </div>
  <nav class="projects-nav">
    {% include nav.html %}
  </nav>

  <main class="project-page" role="main">
    {% assign title = '' %}
    {% for c in site.data.project_catagories %}
        {% if c.catagory == page.project_catagory %}{% assign title = c.heading %}{% endif %}
    {% endfor%}
    <div class="container">

      <h1>{{ title }}</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                {{ page.content }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="project-page-spacer"></div>
            </div>
        </div>
        <div class="row">
        {% assign projects = site.project | where: "project_catagory", page.project_catagory | sort: "project_order" %}
        {% for project in projects %}
            {% include project_item.html project=project %}
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-6">
                <a href="/projects.html">Return to projects</a>
            </div>
        </div>
    </div>
  </main>

  {% include footer.html %}
  </body>
</html>

