<html>
{% include head.html %}

<body>
  <nav class="video-nav">
    {% include nav.html %}
  </nav>

  <div class="marquee-container video-page-marquee"></div>

  <main class="content video-page" role="main">
    <div class="container">
      <h1>Video</h1>
    </div>
    {% assign items = site.video | sort: 'weight' %}
    {% for item in items %}
      <div class="container"> <!-- each container will hold each video and caption -->
        <div class="col-1">
          <div class="video-info">
            <div class="video-title">
              <h2>{{ item.video_title}}</h2>
            </div>
            <div class="video-caption">
              {{ item.content }}
            </div>
          </div>

        </div>

        <div class="col-2">
          <div class="work-container">
            <div class="video-container">
              <iframe src="{{ item.video_link }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div> <!-- end of .container -->
    {% endfor %}

  </main>

  {% include footer.html %}
  </body>
</html>
