<html>
    {% include head.html %}
    <body>
    <div class="mobile-nav internal">
        <div class="">
            <div class="mobile-nav-trigger">
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
                <div class="mobile-nav-bar"></div>
            </div>
        </div>
    </div>
        <nav class="nav">
            {% include nav.html %}
        </nav>
        <main class="content video-page" role="main">
            <div class="container">
                <h1>Video</h1>
            </div>
            <div class="container">
                {% assign videos = site.video | sort: "weight" %}
                {% for item in videos %}
                <div class="row video-item">
                    <div class="col-md-5">
                        <div class="video-spcr"></div>
                        <h2>{{ item.video_title }}</h2>
                        {{ item.content }}
                    </div>
                    <div class="col-md-7">
                        <div class="video-container">
                            <iframe src="{{ item.video_link }}" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
